@page
@model Snackis.Pages.Admin.MyInfoPageAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MyInfoPage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyInfoPage.LastChanged)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyInfoPage.LastChanged)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyInfoPage.Header)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyInfoPage.Header)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyInfoPage.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyInfoPage.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyInfoPage.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyInfoPage.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyInfoPage.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyInfoPage.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MyInfoPage.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
